
  body {
    margin: 0;
    background-color: var(--body-bg-color);
    font-family: var(--body-font);
    font-size: 15px;
    color: var(--body-color); 
}

.dark-light svg {
    margin-right: 8px;
    width: 22px;
    cursor: pointer;
    fill: transparent;
    transition: 0.5s; }
  
  .dark-mode .dark-light svg {
    fill: #ffce45;
    stroke: #ffce45; }
  
  .dark-mode .job-card svg {
    box-shadow: none; }
  
  .dark-mode .search.item {
    color: var(--body-color);
    border-color: var(--body-color); }
  
  .dark-mode .search-location svg,
  .dark-mode .search-job svg,
  .dark-mode .search-salary svg {
    color: var(--body-color); }
  
  .dark-mode .detail-button {
    background-color: var(--inactive-color);
    color: var(--subtitle-color); }
  
#not {
    cursor: not-allowed;
}

  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    margin-bottom: 50px;
}

@media (max-width: 1000px) {
    .form-container {
        margin-top: 150px;
    }
}

#glømt {
    display: block; 
    text-align: left; 
    padding-bottom: 20px; 
    font-size: 9pt;
    text-decoration: none;
    color: var(--body-color);
    text-decoration: 2px solid var(--placeholder-color) underline;
    opacity: 0.8;
}

.form-section {
    background: var(--header-bg-color);
    padding: 30px;
    margin: 10px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-section.login h3, .contents form h3 {
    color: var(--body-font); /* Tomato color */
    font-size: 0.85em; /* 1.5 times the size of the normal text */
    text-align: center; /* Center the text */
    text-transform: uppercase; /* Make the text uppercase */
    letter-spacing: 2px; /* Increase the space between letters */
    padding: 10px 0; /* Add some padding to the top and bottom */
    margin: 20px 0; /* Add some margin to the top and bottom */
    display: flex; /* Use flexbox */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}

.form-section.login h3::before,
.form-section.login h3::after,
.contents form h3::before,
.contents form h3::after {
    content: ""; /* Empty content */
    flex-grow: 1; /* Allow the lines to grow */
    background: var(--subtitle-color); /* Tomato color */
    height: 2px; /* Height of the line */
    margin: 0 10px; /* Space from the text */
}

.form-section.info p {
    font-size: 9pt;
}

.form-section.info {
    position: fixed;
    left: 70%;
    border: 1px solid var(--Hover-color);
}

@media (max-width: 1200px) {
    .form-section.info  {
        left: 67%;
    }
    
}

@media (max-width: 1000px) {
    .form-section.info  {
        position: relative;
        left: 0%;
    }
}

@media (max-height: 856px) {
    .form-container {
        height: 100%;
    }
    .form-section.info {
        position: relative;
        left: 0%;
    }
}

.box {
    padding: 20px;
    margin-top: 10px;
}
.arrow-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    color: var(--login-color);
}

.highlight {
    color: var(--active-color);
}

.arrow-left::before {
    content: "<";
    margin-right: 5px;
}

@media (max-width: 300px) {
    .form-section {
        width: 100%;
    }
}


.radio-container {
    display: flex;
    justify-content: space-between;
}
.radio-wrapper {  
    padding: 10px;
    margin: 0 20px;
    text-align: center;
}

.react-tel-input .form-control {
    width: 100% !important;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background: var(--header-bg-color);
    color: var(--body-bg-color) !important;
}

h2 {
    color: var(--body-color);
    margin-bottom: 20px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
}

.form-menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: var(--header-bg-color);
    border-radius: 10px;
}

.form-section.register.active {
    top: 100px;
}

.active-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: var(--active-color);
    transition: left 0.3s ease;
    border-radius: 10px;
}

.form-menu span {
    display: inline-block;
    background: var(-);
    padding: 10px;
    margin: 5px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    position: relative;
    z-index: 1;
}
.form-menu span.active {
    background: transparent;
    color: white;
}

input .logIn {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background: var(--header-bg-color);
    color: var(--body-color);
}

input .logIn::placeholder {
    color: var(--placeholder-input)
}


button {
    padding: 10px;
    background-color: var(--active-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--login-color);
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    padding: 5%;
}

.checkbox-wrapper input[type="checkbox"] {
    width: 10%;
    order: 1;
}

.checkbox-wrapper label {
    margin-left: 10px;
    order: 2;
    font-size: 10pt;
}

.contents {
    font-size: 10pt;
}

.contents h1 span {
    color: var(--active-color);
}

#official {
    color: var(--header-bg-color);
}

.button-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-holder button {
    margin-top: 20px;
    width: 70%;
}