

.make-user {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: var(--body-bg-color);
}

.button-container {
    display: flex;
    justify-content: space-between;
}


#right {
    margin-left: auto;
}

.user {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--alert-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--body-color);
}

form {
    display: flex;
    flex-direction: column;
}

.radio-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.radio-wrapper {
    margin: 0 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

.email-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-link-button3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 40px;
    color: var(--body-color);
    border: none;
    border-radius: 4px;
    border: 2px solid var(--login-color);
    background-color: none;
    background: var(--search-border-color);
    margin-bottom: 20px;
}

.app-link-button3 img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

input[type="text"] #name,
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

@media (max-width: 600px) {
    .profile {
        width: 90%;
        margin: 20px auto;
    }
}
