.myJobs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 50px;
}

@media (max-width: 768px) {
    .myJobs {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.Status-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
    transition: 3s;
}

.Status-menu .row button {
    margin-right: 10px;
    transition: 1s;
}

#homePage {
    transition: 1s;
}

@media (max-width: 800px) {
    .Status-menu {
        flex-direction: column;
        gap: 0px;
    }
    #hid {
        border: none;
    }

    .Status-menu button {
        order: 2;
        width: 200px;
        height: 100px;
    }

    #homePage {
        order: 1;
        width: 200px;
        height: 100px;
    }

    .Status-menu .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        order: 2;
    }
}

@media (max-width: 500px) {
    .Status-menu .row button {
        order: 2;
        width: 150px;
        height: 150px;
        font-size: 1.4em;
    }

    #homePage {
        order: 1;
        width: 150px;
        height: 100px;
        font-size: 1.4em;
    }
}

.myChild {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust as needed */
    width: 100vw; /* Adjust as needed */
}

.child-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 300px;
    height: 300px;
    background: var(--header-bg-color);
    border: 2px solid var(--border-color);
    border-radius: 10px;
    padding: 20px;
}

.Status-menu button {
    margin-top: 50px;
    width: 200px;
    height: 100px; 
    background: none;
    color: var(--body-color);
    border: 2px solid var(--active-color);
    font-size: 1.9em;
    transition: height 0.3s ease;
  }

  .Status-menu button.active {
    color:  var(--active-light-color);
  }
  

.Status-menu #homePage {
    border: none;
    background-color: var(--border-color);
}
  
  .job-stats {
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
}


.myJobs .job-buttons {
    margin-top: -10px;
    border-top: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.myJobs .job-buttons button {
    color: var(--active-color);
    background: none;
    font-weight: 700;
    font-size: 1rem;
}

.myJobs .job-buttons button:hover {
    background: var(--inactive-color);
}

.myJobs .job-buttons2 {
    margin-top: -10px;
    border-bottom: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.myJobs .job-buttons2 button {
    color: var(--active-color);
    background: none;
    font-weight: 700;
    width: 100%;
    font-size: 1rem;
}

.myJobs .job-buttons2 button:hover {
    background: var(--inactive-color);
}

#green {
    color: var(--subtitle-color);
}